@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sadece font-family ayarını koruyalım */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  @apply overflow-x-hidden;
}

* {
  box-sizing: border-box;
}

.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}
